:root {
  --dark-black: #19222a;
  --black: #1d272e;
  --gray: #202a32;
  --light-gray: #7d8591;
  --light-blue: #08689e;
  --blue: #0d4d6d;
  --dark-blue: #074b6c;
  --white: #f5f5f7;
  --dark-white: #d1d1d1;
}

.add-argument-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-argument-button {
  background: var(--dark-blue);
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  font-size: 0.65em;
}
.add-argument-button:hover {
  cursor: pointer;
  width: 20.1vw;
  height: 5.1vh;
  background: var(--white);
  color: var(--blue);
}

.add-argument-button .plus {
}
.add-argument-button .space {
  width: 5px;
}
.add-argument-button .text {
}
body {
  margin: 0;
  padding: 0;
}

.list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: violet; */
  /* height: 100%; */
  /* min-height: 60px; */
  min-height: 8vh;
  width: 100%;
  bottom: 0;
}

.title-container {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.share-button-container {
  flex: 1.1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  /* font-weight: bold; */
}

.share-button {
  background: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--white) 1px;
  border-radius: 19px;
  font-family: "Roboto", sans-serif;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 0.75em;
  letter-spacing: 0.2px;
}

.share-button:hover {
  background: var(--white);
  color: var(--blue);
  border: solid 1px var(--light-gray);
  cursor: pointer;
}
.share-button:active {
  background: var(--white);
  color: var(--blue);
  font-size: 0.76em;
  padding-top: 1.6vh;
  padding-bottom: 1.6vh;
  padding-left: 3.1vh;
  padding-right: 3.1vh;
}

.share-button:focus {
  outline-style: none;
}

.share-separator {
  width: 5px;
}

.share-button .icon-plus {
  font-size: 0.9em;
  margin-top: 0.1em;
}

.list-items-and-footer {
  width: 100%;
  background: var(--gray);
  box-shadow: var(--dark-black) 5px 5px 5px 5px;
}

.app-container {
  background-color: var(--black);
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: "Roboto", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
}
.left-sidebar {
  height: 100vh;
  width: 10vw;
  background: var(--gray);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: var(--dark-black) 5px 5px 5px;
  /* position: fixed; */
}

.left-sidebar-home {
  margin-top: 14vh;
}

.app-header {
  width: 100%;
  background: var(--gray);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.title-and-share-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--blue);
  color: var(--white);
  /* background: gold; */
}

.pros-and-cons-and-right-sidebar {
  width: 100%;
  height: 80vh;
  /* background: green; */
  display: flex;
}

.pros-and-cons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: auto;
  /* max-height: 30vh; */
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  min-width: 300px;
  text-align: center;
  margin-bottom: 10px;
  /* max-height: 60vh; */
}

.right-sidebar {
  background: var(--gray);
  width: 15vw;
  padding-top: 10vh;
  text-align: center;
  color: var(--white);
}

.right-sidebar .app-name {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.right-sidebar .app-description {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-family: "Roboto", sans-serif;
  color: var(--light-gray);
  padding-left: 10px;
  padding-right: 10px;
  /* font-weight: bold; */
}

button {
  cursor: pointer;
}

.app-without-left-sidebar {
  width: 90%;
  /* background: pink; */
}

.list-title {
  width: 100%;
  background: var(--black);
  min-height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5em;
  color: var(--white);
  font-family: "Montserrat", sans-serif;
}

.text-glow {
  /* transform: translate3d(0, 0, 0); */
  animation: glow 5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px var(--white), 0 0 20px var(--white),
      0 0 30px var(--light-gray), 0 0 40px var(--light-gray),
      0 0 50px var(--light-gray), 0 0 60px var(--light-gray),
      0 0 70px var(--light-gray);
  }
  to {
    text-shadow: 0 0 20px var(--dark-white), 0 0 30px var(--dark-white),
      0 0 40px var(--black), 0 0 50px var(--black), 0 0 60px var(--black),
      0 0 70px var(--black), 0 0 80px var(--black);
  }
}
.list-items {
  /* max-height: 50vh; */
  width: 100%;
  /* border: solid 1px black; */
  height: 60vh;
  /* background: black; */
  flex: 1;
  overflow: auto;
}

.list-item-container {
  display: flex;
  border-bottom: solid 1px var(--light-gray);
  color: var(--white);
  padding: 10;
  /* padding-top: 1vh;
  padding-bottom: 1vh; */
  height: 12vh;
  transition: height 1s;
  /* transition-duration: 1s; */
  /* transition-property: height; */
}
.shrink-height {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.argument-description-container {
  flex: 3;
  /* background: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-top: 5px;

  font-family: Montserrat;
  font-weight: 700;
  margin-top: 5px;
  font-size: small;
}

.argument-description-container .description {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 180px;
  min-width: 100px;
  display: block;
}

.argument-weight-container {
  flex: 1;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.list-item-container .weight-and-hint {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  /* width: 100%; */
  /* margin-top: 15px; */
}

.argument-weight-container .icon-down-open {
  font-size: 0.5em;
}
.argument-weight-container .select-open-icon-container {
  margin-left: -25px;
  z-index: 0;
  pointer-events: none;
  height: 10px;
}

.weight-and-hint .hint {
  font-size: 0.6em;
  color: var(--light-gray);
  flex: 0.3 1;
  font-weight: bold;
  min-width: 70px;
  text-align: left;

  padding-left: 2px;
  position: absolute;
  margin-top: 25px;

  /* position: absolute; */
  /* margin-top: 19px;
  margin-left: 2px; */
}

.argument-weight-container:hover .icon-down-open {
  /* color: var(--blue); */
}

.argument-weight-container:hover select {
  color: var(--blue);
  cursor: pointer;
}

.argument-delete-container .icon-cancel-circled-outline {
  color: var(--white);
  font-size: 1.6em;
}
.argument-delete-container:hover {
  cursor: pointer;
}

.argument-delete-container:focus .icon-cancel-circled-outline {
  outline: none;
  border-radius: 50%;
}

.argument-delete-container:focus {
  outline: none;
}
.argument-delete-container:hover .icon-cancel-circled-outline {
  color: var(--blue);
  font-size: 1.95em;
}

.argument-weight-container select:hover {
  cursor: pointer;
  /* border: solid 1px var(--blue); */
  color: var(--light-blue);
}
.argument-weight-container select:focus {
  outline: none;
  box-shadow: var(--blue) 5px 5px 5px;
}
.argument-delete-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  /* background: orangered; */
}
.argument-delete-container select:focus {
  outline: none;
  box-shadow: var(--blue) 5px 5px 5px;
}

.argument-weight-container select {
  background-color: var(--black);
  color: var(--white);
  border: none;
  width: 55px;
  /* text-align: center; */
  /* text-align-last: center; */
  height: 20px;
  -webkit-appearance: none;
  border-radius: 15px;
  border: solid 1px var(--light-gray);
  padding-left: 10px;
  text-indent: 6px;
}

.left-sidebar .home-button {
  margin-top: 13vh;
  color: var(--dark-white);
  font-size: 3vh;
}

.left-sidebar .home-button:hover {
  color: var(--blue);
  cursor: pointer;
}

textarea:focus {
  outline: none;
  /* box-shadow: var(--light-blue) 1px 1px 1px 1px; */
}

textarea {
  resize: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  overflow: hidden;
}

.ScrollbarsCustom-Thumb.ScrollbarsCustom-ThumbY {
  background: var(--blue) !important;
}

.ScrollbarsCustom-Track.ScrollbarsCustom-TrackY {
  width: 5px !important;
}

.simplebar-scrollbar:before {
  background: var(--blue) !important;
}

@media only screen and (max-width: 700px) {
  .right-sidebar {
    display: none;
  }
  .left-sidebar {
    display: none;
  }
  .app-without-left-sidebar {
    width: 100%;
  }
  .list {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
  .list-item-container .weight-and-hint {
    margin-top: 0;
  }
}
